body{
	background-image: url("../images/background.jpg");
    background-color:black;
    background-position: top center;
    background-repeat:no-repeat;
    background-size:cover;
}
.container{
	background-color: rgba(255, 248, 244, 0.856);
	width:80vw;
}
.headerRow {
	height:15%;
	margin-top: 58px;
  }
.contentRow {
	height: 85%;
  }
.header {
	background-image: url("../images/header.jpg");
	height: 168px;
}
.vid{
    width:100%;
    display:flex;
    justify-content: center;
}